img{
    border-radius: 15px;
    display: flex;
    align-items: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(66, 135, 255, 1);
}
header li{
    display: inline-block;
    margin: 0 10px;

}
header a:hover{
    color: white;
}
.cadastro{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}
.cadastro h1 {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
    font-weight: bold;
}
.input-box {
    margin-bottom: 15px;
    text-align: left;
}
.input-box label {
    font-weight: 600;
    color: black;
    margin-bottom: 5px;
    display: block;

}
.input-box input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    font-size: 16px;
    
}
.btncadastro {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: black;
    box-shadow: 0 0 10px rgba(29, 29, 29, 0.1);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.btncadastro:hover {
    background-color: black;
}
.login-link {
    margin-top: 15px;
}
.login-link a {
    color: blue;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
.login-link a:hover {
    color: darkblue;
}
